<!--Multipart config in FileServlet comes after Servlet 3.0.
If version number here is less then 3.0, Glassfish server will give error while uploading
(Even if you are using Servlet 3.0+)-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>Lan Share</display-name>

    <!--Filters-->
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>ogr.user12043.lanShare.filter.AuthFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--Servlets-->
    <!--Home page-->
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>ogr.user12043.lanShare.servlets.HomeServlet</servlet-class>
    </servlet>

    <!--FileServlet for file processes-->
    <servlet>
        <servlet-name>FileServlet</servlet-name>
        <servlet-class>ogr.user12043.lanShare.servlets.FileServlet</servlet-class>
        <multipart-config>
            <location>/</location>
            <!--4 GB upload limit-->
            <max-file-size>4294967296</max-file-size>
            <!--4 GB download limit-->
            <max-request-size>4294967296</max-request-size>
            <!--10MB+ will write directly to disk-->
            <file-size-threshold>10485760</file-size-threshold>
        </multipart-config>
    </servlet>

    <!--Error Servlet-->
    <servlet>
        <servlet-name>ErrorServlet</servlet-name>
        <servlet-class>ogr.user12043.lanShare.servlets.ErrorServlet</servlet-class>
    </servlet>

    <!--Mappings-->
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>FileServlet</servlet-name>
        <url-pattern>/file</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ErrorServlet</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>

    <!--Welcome files-->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!--Error pages-->
    <error-page>
        <error-code>401</error-code>
        <location>/error</location>
    </error-page>
</web-app>

        <!--
        NOTE:
        If you get following error, (I get from Glassfish 4.1.1):
        "The content of element type "web-app" must match "(icon?,display-name?,description?,distributable?,context-param*,filter*,filter-mapping*,listener*,servlet*,servlet-mapping*,session-config?,mime-mapping*,welcome-file-list?,error-page*,taglib*,resource-env-ref*,resource-ref*,security-constraint*,login-config?,security-role*,env-entry*,ejb-ref*,ejb-local-ref*)".."

        you must order the content of this file according to given order in error.

        E.g this is wrong:
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>ogr.user12043.lanShare.filter.AuthFilter</filter-class>
    </filter>


        Because filter mapping comes before filter. (Even it can be mapping of another filter.)
         -->
